* {
  padding: 0;
  margin: 0;
}

.cartWrapper {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border: red solid 1px;
  width: 250px;
  min-height: 500px;
  height: 100%;
  .cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px green;
    padding: 10px 0;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      text-align: center;
      border-radius: 50%;
      font-size: 14px;
      outline: none;
      background-color: #e74c3c;
      color: white;
      cursor: pointer;
      border: none;
      opacity: 0.5;
      transition-duration: 0.3s;
      &:hover {
        opacity: 1;
      }
    }
  }
}
