* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.label {
  position: relative;

  .input {
    display: block;
    width: 100%;
  }
  .error {
    position: absolute;
    white-space: nowrap;
    left: 0;
    bottom: -19px;
    color: red;
  }
}
