$main-color: #47b6e0;
$font-color: #4d5050;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  color: $font-color;
}

.App {
  display: flex;
}
